<!DOCTYPE html>
<html>
<head>
    <style>
        body { font-family: Helvetica; }
        h1 { text-align: center; }
        .label { font-weight: bold; }
        .item { margin-bottom: 10px; }
    </style>
</head>
<body>
<h1>Parecer Socioeconômico</h1>
<div class='item'><span class='label'>Nome do Aluno:</span> [[nomeAluno]]</div>
<div class='item'><span class='label'>Data de Nascimento:</span> [[dataNascimentoAluno]]</div>
<div class='item'><span class='label'>Segmento:</span> [[segmentoCursar2025]]</div>
<div class='item'><span class='label'>Nome do Responsável:</span> [[nomeResponsavel]]</div>
<div class='item'><span class='label'>CPF do Responsável:</span> [[cpfResponsavel]]</div>
<div class='item'><span class='label'>Telefone do Responsável:</span> [[telefoneResponsavel]]</div>
<div class='item'><span class='label'>Renda Bruta Familiar:</span> [[rendaBrutaFamiliar]]</div>
<div class='item'><span class='label'>Pessoas na Família:</span> [[quantidadePessoasFamilia]]</div>
<div class='item'><span class='label'>Renda per capita:</span> [[rendaPerCapita]]</div>
<div class='item'><span class='label'>Renda per capita em SM:</span> [[rendaPerCapitaSalarioMinimo]]</div>
<div class='item'><span class='label'>Percentual LC 187:</span> [[percentualLc187]]</div>
<div class='item'><span class='label'>Beneficiário de programa:</span> [[beneficiarioProgramaRenda]]</div>
<div class='item'><span class='label'>Reside próximo da escola:</span> [[resideProximoUnidadeEscolar]]</div>
<div class='item'><span class='label'>Candidato com deficiência:</span> [[candidatoComDeficiencia]]</div>
<div class='item'><span class='label'>Doença grave na família:</span> [[doencaGraveOuDeficienciaFamiliar]]</div>
<div class='item'><span class='label'>Qtd menores de 18:</span> [[quantidadeMenoresDezoitoAnos]]</div>
<div class='item'><span class='label'>Aspectos relevantes:</span> [[aspectosRelevantes]]</div>
<div class='item'><span class='label'>Resultado final:</span> [[resultadoSocioeconomico]]</div>
<div class='item'><span class='label'>Data de finalização:</span> [[dataFinalizacaoParecer]]</div>
</body>
</html>